.Footer{
    padding-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background: rgba(9, 8, 20, 0.993);
    width: 100vw;
    color:#fff;
    height: 400px;
    
}

.list{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
   
}
.list a{
    color:grey;
}

.Footer select{
    color:grey;
   margin-top: 60px;
}


@media (max-width: 826px) {
    .Footer {
        padding-top: 20px;
        height: auto; 
        flex-direction: column;
        align-items: center;
        gap:20px
    }

}