*{
    margin: 0;
    padding: 0;
}

.flex-center{
    display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
}
input{
    border: none;
    outline: none;
    margin-left: 4px;
}
input:target{
    border: none;
    outline: none;
    
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
    display: flex;
}
button{
    width: 150px;
    border: none;
    outline: none;
    padding: 9px;
   cursor: pointer;
    color: #fff;
    background-color: rgb(43, 79, 197);
    font-size: 11px;
    text-align: center;
    border-radius: 7px;
}